<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="fileFolder" value="E:\Position Files" />
    <add key="fileName" value="PowerPosition" />
    <add key="fileDateFormat" value="_yyyyMMdd_HHmm" />
    <add key="fileSuffix" value=".csv" />
    <add key="delimiter" value=", " />
    <add key="columnOneName" value="Local Time" />
    <add key="columnTwoName" value="Volume" />
    <add key="dataDateFormat" value="HH:mm" />
    <add key="minuteInterval" value="60" />
    <add key="powerServiceTimeoutSeconds" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Use to backFill historical position csv file.  This is universal time. Leave blank to not backfill.  Format is DD-mmm-yyyy HH:MM:SS 1-Sep-2016 21:05:00-->
    <!--<add key="backFillFrom" value=" 1-Sep-2016 13:00:00" />-->
    <add key="backFillFrom" value="" />
    <!-- True to overwrite any existing position files when backfilling-->
    <add key="backFillOverWriteExisting" value="false" />
    
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>